# Database
DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"

# AI Services
OPENAI_API_KEY=""

# Vector Database
PINECONE_API_KEY=""
PINECONE_INDEX_NAME="sana-ai"

# File Storage
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""
